<section class="container py-0 my-4">
	<button type="button" class="btn btn-primary rounded-5 d-flex align-items-center" (click)="newUser()" data-bs-toggle="modal" data-bs-target="#addUserModal">
		<span class="bg-light me-2 rounded-5 d-flex align-items-center justify-content-center">
			<i class="bi bi-plus text-primary" style="font-size: 30px;"></i>
		</span>
		Usuario
	</button>
</section>

<div class="container mt-1">
	<div class="row">
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-collapse">
					<thead class="main-table">
						<tr>
							<th>Id</th>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Teléfono</th>
							<th>Correo</th>
							<th style="text-align: right;">Acciones</th>
						</tr>
					</thead>
					<tbody id="handlebarsFundTable">
						<div *ngFor="let u of listUsers" class="col" style="display: contents;">
							<tr aria-expanded="false">
								<td>{{ u.id }}</td>
								<td>{{ u.name }}</td>
								<td>{{ u.lastname }}</td>
								<td>{{ u.phone }}</td>
								<td>{{ u.email }}</td>
								<td style="text-align: right;">
									<button type="button" class="btn btn-sm btn-danger rounded-5 d-flex align-items-center ms-2" (click)="delete(u.id)" style="float: right;">
										<span class="d-flex align-items-center justify-content-center">
											<i class="bi bi-trash3-fill" style="font-size: 20px;"></i>
										</span>
									</button>
									<button type="button" class="btn btn-sm btn-warning rounded-5 d-flex align-items-center ms-2" data-bs-toggle="modal" data-bs-target="#addUserModal" (click)="selectItem(u)" style="float: right;">
										<span class="d-flex align-items-center justify-content-center">
											<i class="bi bi-pencil-fill" style="font-size: 20px;"></i>
										</span>
									</button>
									<button type="button" class="btn btn-sm btn-primary rounded-5 d-flex align-items-center ms-2 collapse-control collapsed" data-toggle="collapse" [attr.data-target]="'#collaspe-' + u.id" style="float: right;">
										<span class="d-flex align-items-center justify-content-center">
											<i class="bi bi-clipboard-check-fill" style="font-size: 20px;"></i>
										</span>
									</button>
								</td>
							</tr>
							<tr>
								<td colspan="6" class="collapse-td">
									<div class="collapse-content collapse" id="collaspe-{{u.id}}">
										<button type="button" class="btn btn-sm btn-primary rounded-5 d-flex align-items-center my-3" data-bs-toggle="modal" data-bs-target="#addTicketModal">
											<span class="bg-light me-2 rounded-5 d-flex align-items-center justify-content-center">
												<i class="bi bi-plus text-primary" style="font-size: 25px;"></i>
											</span>
											Ticket
										</button>
										<table class="table table-collapse">
											<thead>
												<tr>
													<th>Id</th>
													<th>Descripción</th>
													<th>Estado</th>
													<th style="text-align: right;">Acciones</th>
												</tr>
											</thead>
											<tbody>
												<div *ngFor="let t of u.tickets" class="col" style="display: contents;">
													<tr>
														<td>{{ t.id }}</td>
														<td>{{ t.description }}</td>
														<td>
															<button type="button" class="btn btn-sm rounded-5 d-flex align-items-center" [ngClass]="(t.status == 1) ? 'btn-outline-warning' : 'btn-outline-success'">
																{{ (t.status == 1) ? 'Abierto' : 'Cerrado' }}
															</button>
														</td>
														<td style="text-align: right;"></td>
													</tr>
												</div>
											</tbody>
										</table>
									</div>
								</td>
							</tr>
						</div>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 *ngIf="!isUpdate" class="modal-title fs-5">Crear usuario</h1>
				<h1 *ngIf="isUpdate" class="modal-title fs-5">Actualizar usuario</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form [formGroup]="formUser">
					<div class="mb-3 row">
						<label class="col-sm-2 col-form-label">Nombre</label>
						<div class="col-sm-10">
							<input type="text" class="form-control btn-sm" formControlName="name" required="true">
						</div>
					</div>
					<div class="mb-3 row">
						<label class="col-sm-2 col-form-label">Apellido</label>
						<div class="col-sm-10">
							<input type="text" class="form-control btn-sm" formControlName="lastname" required="true">
						</div>
					</div>
					<div class="mb-3 row">
						<label class="col-sm-2 col-form-label">Teléfono</label>
						<div class="col-sm-10">
							<input type="number" class="form-control btn-sm" formControlName="phone" required="true">
						</div>
					</div>
					<div class="mb-3 row">
						<label class="col-sm-2 col-form-label">Correo</label>
						<div class="col-sm-10">
							<input type="email" class="form-control btn-sm" formControlName="email" required="true">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger rounded-5 d-flex align-items-center" data-bs-dismiss="modal" #closeUserModal>Cancelar</button>
				<button type="button" class="btn btn-success rounded-5 d-flex align-items-center" *ngIf="!isUpdate" (click)="save()">Guardar</button>
				<button type="button" class="btn btn-warning rounded-5 d-flex align-items-center" *ngIf="isUpdate" (click)="update()">Actualizar</button>
			</div>
		</div>
	</div>
</div>

<div class="position-fixed bottom-0 end-0 p-3 main-toast" style="z-index: 5">
	<div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="toast-header">
			<strong class="me-auto">Bootstrap</strong>
			<small>11 mins ago</small>
			<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
		<div class="toast-body">
			Hello, world! This is a toast message.
		</div>
	</div>
</div>